option_settings:
  aws:elasticbeanstalk:container:docker:
    Dockerfile: Dockerfile.eb
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    BUNDLE_WITHOUT: "development:test"
    BUNDLE_PATH: /usr/local/bundle
    BUNDLE_DEPLOYMENT: "1"
  aws:elasticbeanstalk:container:docker:staticfiles:
    /rails/public: /rails/public
